body,html{margin: 0px;}
.recent-search{float: left;width: 30%;height: 100vh;padding-left: 30px;border-left: 1px solid #ccc;}
.form-left{float: left;width: 65%;height: 100%;}
.main-content{float: left;width: 100%;margin-top: -8px}
.recent-search ul > li {list-style-type: none;margin-bottom: 5px;}
.recent-search ul{padding-left: 0;}
.recent-search ul > li > a{text-decoration: none;text-transform: capitalize;}
.form-grp{float: left;width: 100%;text-align: left;
    margin-left: 270px;
    margin-top: 20px;}
.form-left button{margin: 20px auto;}
button{padding: 6px 15px;border:1px solid #ccc;background-color: #fcfcfc;border-radius: 5px;}